@import "tailwindcss";

html,
body {
  margin: 0;
  font-family: sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

.react-flow__node-selector {
  background: #f6ad55;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 2px 5px;
  font-weight: 700;
}

.react-flow__node-sequence {
  background: #eb34ab;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 2px 5px;
  font-weight: 700;
}

.react-flow__node-action {
  background: #f6ad55;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 2px 5px;
  font-weight: 700;
}

.react-flow__node-condition {
  background: #eb34ab;
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 2px 5px;
  font-weight: 700;
}

/** for checkboxes **/
.text {
  color: white;
  font-size: 12px;
  font-weight: 200;
}
.box {
  vertical-align: middle;
  transform: scale(1.0);
}